@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@1,300&family=Raleway:wght@100&display=swap');

body{
    text-align: center;
    font-family:  'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;;
}
.container{
    background-color:#FEFEFE ;
    width: 70%;
    margin: auto;
}

.cal-container{
    display: inline-block;
    border: 2px solid #A866EE;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background: #97D9E1;
    padding:1em;
}
.screen-display{
   border-radius: 10px ;
    font-size: larger;
}
.buttons{
    width: 95%;
    margin: auto;
}
input{
    background: #F485A2;
    width: 95%;
    height: 2.5rem;
    margin: 0.5em;

}
button{
    cursor: pointer;
    color: aliceblue;
    background:#3F4557;
    font-size: 2.5em;
    border-radius: 7px;
    border: none;
    width:90%;
    padding:0.5em;
    box-shadow: 0 0 10px 5px #D4D4D5;
    
}
.operetor{
    background: #6E67F2;
}
button:hover,
button:focus{
    transform: translateY(-5px);
}
@media(max-width:700px){

     .container{
        width: 100%;
     }

    .cal-container{
        width: 100%;
    }
    .buttons{
        width: 90%;
        overflow:hidden;
    }
}
